<ul class="nav flex-column">
  <li class="nav-item">
    {% if active_page == "summary" %}
      <a class="nav-link active" href="#">
        <span data-feather="home"></span>
        Summary <span class="sr-only">(current)</span>
      </a>
    {% else %}
      <a class="nav-link" href="#">
        <span data-feather="home"></span>
        Summary <span class="sr-only">(current)</span>
      </a>
    {% endif %}
  </li>
  <li class="nav-item">
    {% if active_page == "edit" %}
      <a class="nav-link active" href="#">
        <span data-feather="home"></span>
        Edit <span class="sr-only">(current)</span>
      </a>
    {% else %}
      <a class="nav-link" href="#">
        <span data-feather="home"></span>
        Edit <span class="sr-only">(current)</span>
      </a>
    {% endif %}
  </li>
  <li class="nav-item">
    {% if active_page == "criteria" %}
      <a class="nav-link active" href="{{ url_for('crm.criteria', contact_id=contact.id) }}">
        <span data-feather="home"></span>
        Criteria <span class="sr-only">(current)</span>
      </a>
    {% else %}
      <a class="nav-link" href="{{ url_for('crm.criteria', contact_id=contact.id) }}">
        <span data-feather="home"></span>
        Criteria <span class="sr-only">(current)</span>
      </a>
    {% endif %}
  </li>
</ul>
