{% set active_page = "criteria" %}

{% extends 'crm/layouts/template.html' %}
{% block content %}
<div class="row mt-3">
  <div class="col-sm-6">
    <h1>Investing Criteria</h1>
  </div>
  <div class="col-sm-6 pull-right">
    <a href="{{ url_for('crm.add_criteria', contact_id=contact.id) }}" class="btn btn-primary pull-right">Add</a>
  </div>
</div>
{% for criteria in contact.investment_criteria %}
  <div class="row-fluid mt-3">
    <div class="card">
      <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
              <h5 class="card-title">{{ criteria.getDetailedPropertyType() }}</h5>
            </div>
            <div class="col-sm-6">
              <div class="pull-right">
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
              </div>
            </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-4">
            <h6>Investment Strategies</h6>
              <p>Flip: {% if criteria.flip %}Yes{% else %}No{% endif %}</p>
              <p>Buy &amp; Hold: {% if criteria.rental %}Yes{% else %}No{% endif %}</p>
          </div>
          <div class="col-sm-8">
            <h6>Investing Locations</h6>
            <p>{{ criteria.getLocations() }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="row-fluid mt-3">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <h5 class="card-title">This user does not have any investing criteria. <a href="{{ url_for('crm.add_criteria', contact_id=contact.id) }}">Add criteria here</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}
