{% include 'layouts/backend/common/header.html' %}

    <body>

        {% include 'layouts/backend/common/navbar.html' %}

        <div class="wrapper">
            <div class="container-fluid">
              <nav class="col-md-2 d-block d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    {% include 'crm/layouts/sidebar/sidebar.html' %}
                </div>
              </nav>

              <div class="col-md-9 ml-sm-auto col-lg-10">
                {% include 'layouts/backend/common/flash_messages.html' %}
                {% block content %}{% endblock %}
              </div>
            </div>
            </div> <!-- end container -->
        </div>
        <!-- end wrapper -->


        {% include 'layouts/backend/common/footer.html' %}


        <!-- jQuery  -->
        <script src="{{ url_for('static', filename='backend/js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='backend/js/popper.min.js') }}"></script><!-- Popper for Bootstrap --><!-- Tether for Bootstrap -->
        <script src="{{ url_for('static', filename='backend/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='backend/js/waves.js') }}"></script>
        <script src="{{ url_for('static', filename='backend/js/jquery.slimscroll.js') }}"></script>
        <script src="{{ url_for('static', filename='backend/js/jquery.scrollTo.min.js') }}"></script>

        <!-- App js -->
        <script src="{{ url_for('static', filename='backend/js/jquery.core.js') }}"></script>
        <script src="{{ url_for('static', filename='backend/js/jquery.app.js') }}"></script>


    </body>
</html>
