<ul class="nav flex-column">
  <li class="nav-item">
    {% if active_page == "summary" %}
      <a class="nav-link active" href="{{ url_for('deals.view', deal_id=deal.id) }}">
        <span data-feather="home"></span>
        Summary <span class="sr-only">(current)</span>
      </a>
    {% else %}
      <a class="nav-link" href="{{ url_for('deals.view', deal_id=deal.id) }}">
        <span data-feather="home"></span>
        Summary <span class="sr-only">(current)</span>
      </a>
    {% endif %}
  </li>
  <li class="nav-item">
    {% if active_page == "edit" %}
      <a class="nav-link active" href="{{ url_for('deals.edit', deal_id=deal.id) }}">
        <span data-feather="home"></span>
        Edit <span class="sr-only">(current)</span>
      </a>
    {% else %}
      <a class="nav-link" href="{{ url_for('deals.edit', deal_id=deal.id) }}">
        <span data-feather="home"></span>
        Edit <span class="sr-only">(current)</span>
      </a>
    {% endif %}
  </li>
  <li class="nav-item">
    {% if active_page == "interested" %}
      <a class="nav-link active" href="{{ url_for('deals.interested', deal_id=deal.id) }}">
        <span data-feather="home"></span>
         Interested Parties<span class="sr-only">(current)</span>
      </a>
    {% else %}
      <a class="nav-link" href="{{ url_for('deals.interested', deal_id=deal.id) }}">
        <span data-feather="home"></span>
        Interested Parties <span class="sr-only">(current)</span>
      </a>
    {% endif %}
  </li>
</ul>

<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
  <span>Actions</span>
  <a class="d-flex align-items-center text-muted" href="#">
    <span data-feather="plus-circle"></span>
  </a>
</h6>
<ul class="nav flex-column mb-2">
  <li class="nav-item">
    {% if active_page == "email" %}
      <a class="nav-link active" href="{{ url_for('deals.email', deal_id=deal.id) }}">
        <span data-feather="home"></span>
        Send to Buyers <span class="sr-only">(current)</span>
      </a>
    {% else %}
      <a class="nav-link" href="{{ url_for('deals.email', deal_id=deal.id) }}">
        <span data-feather="home"></span>
        Send to Buyers <span class="sr-only">(current)</span>
      </a>
    {% endif %}
  </li>
</ul>

<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
  <span>Export Options</span>
  <a class="d-flex align-items-center text-muted" href="#">
    <span data-feather="plus-circle"></span>
  </a>
</h6>
<ul class="nav flex-column mb-2">
  <li class="nav-item">
    <a class="nav-link" href="#">
      <span data-feather="file-text"></span>
      Eligible Buyers
    </a>
  </li>
</ul>
