{{ form.hidden_tag() }}
<div class="form-group row">
  <label for="street-address" class="col-3 col-form-label">Street Address</label>
  <div class="col-9">
      {{ form.line_1(type="text", class="form-control", placeholder="123 Fake St") }}
  </div>
</div>
<div class="form-group row">
  <label for="line_2" class="col-3 col-form-label">Unit #</label>
  <div class="col-9">
      {{ form.line_2(type="text", class="form-control", placeholder="2") }}
  </div>
</div>
<div class="form-group row">
  <label for="street-address" class="col-3 col-form-label">City</label>
  <div class="col-9">
      {{ form.city(type="text", class="form-control", placeholder="Chicago") }}
  </div>
</div>
<div class="form-group row">
  <label for="street-address" class="col-3 col-form-label">State</label>
  <div class="col-9">
      {{ form.state_province(type="text", class="form-control", placeholder="IL") }}
  </div>
</div>
<div class="form-group row">
  <label for="street-address" class="col-3 col-form-label">Zip Code</label>
  <div class="col-9">
      {{ form.postal_code(type="text", class="form-control", placeholder="60611") }}
  </div>
</div>
