
  <div class="row-fluid mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Address Info</h5>
        <hr />
        {% with form = form.property.address %}
        {% include 'deals/forms/address.html' %}
        {% endwith %}
      </div>
    </div>
  </div>
  <div class="row-fluid mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Property Info</h5>
        <hr />
        {% with form = form.property %}
        {% include 'deals/forms/property.html' %}
        {% endwith %}
      </div>
    </div>
  </div>
  <div class="row-fluid mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Deal Info</h5>
        <hr />
        <div class="form-group row">
          <label for="street-address" class="col-3 col-form-label">List Price</label>
          <div class="col-9">
              {{ form.list_price(type="text", class="form-control", placeholder="") }}
          </div>
        </div>
        <div class="form-group row">
          <label for="street-address" class="col-3 col-form-label">Rehab Est.</label>
          <div class="col-9">
              {{ form.rehab_amount(type="text", class="form-control", placeholder="") }}
          </div>
        </div>
        <div class="form-group row">
          <label for="street-address" class="col-3 col-form-label">ARV</label>
          <div class="col-9">
              {{ form.after_repair_value(type="text", class="form-control", placeholder="") }}
          </div>
        </div>
        <div class="form-group row">
          <label for="street-address" class="col-3 col-form-label">Equity</label>
          <div class="col-9">
              {{ form.equity(type="text", class="form-control", placeholder="") }}
          </div>
        </div>
        <div class="form-group row">
          <label for="street-address" class="col-3 col-form-label">ROI</label>
          <div class="col-9">
              {{ form.return_on_investment(type="text", class="form-control", placeholder="") }}
          </div>
        </div>
        <div class="form-group row">
          <label for="street-address" class="col-3 col-form-label">Monthly Rent</label>
          <div class="col-9">
              {{ form.monthly_rent(type="text", class="form-control", placeholder="") }}
          </div>
        </div>
        <div class="form-group row">
          <label for="street-address" class="col-3 col-form-label">Taxes</label>
          <div class="col-9">
              {{ form.taxes(type="text", class="form-control", placeholder="") }}
          </div>
        </div>
        <div class="form-group row">
          <label for="street-address" class="col-3 col-form-label">Insurance</label>
          <div class="col-9">
              {{ form.insurance(type="text", class="form-control", placeholder="") }}
          </div>
        </div>
        <div class="form-group row">
          <label for="street-address" class="col-3 col-form-label">Maintenance</label>
          <div class="col-9">
              {{ form.maintenance_percent(type="text", class="form-control", placeholder="") }}
          </div>
        </div>
        <div class="form-group row">
          <label for="street-address" class="col-3 col-form-label">Management</label>
          <div class="col-9">
              {{ form.management_percent(type="text", class="form-control", placeholder="") }}
          </div>
        </div>
        <div class="form-group row">
          <label for="street-address" class="col-3 col-form-label">Utilities</label>
          <div class="col-9">
              {{ form.utility_amount(type="text", class="form-control", placeholder="") }}
          </div>
        </div>
        <div class="form-group row">
          <label for="street-address" class="col-3 col-form-label">Desc. of Utilities</label>
          <div class="col-9">
              {{ form.utility_description(type="text", class="form-control", placeholder="") }}
          </div>
        </div>
        <div class="form-group row">
          <label for="street-address" class="col-3 col-form-label">Capex Reserves</label>
          <div class="col-9">
              {{ form.capex_reserves(type="text", class="form-control", placeholder="") }}
          </div>
        </div>
        <div class="form-group row">
          <label for="street-address" class="col-3 col-form-label">NOI</label>
          <div class="col-9">
              {{ form.net_operating_income(type="text", class="form-control", placeholder="") }}
          </div>
        </div>
        <div class="form-group row">
          <label for="street-address" class="col-3 col-form-label">Cap Rate</label>
          <div class="col-9">
              {{ form.cap_rate(type="text", class="form-control", placeholder="") }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid mt-3 pull-right">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
