
  <div class="row-fluid mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Investment Criteria</h5>
        <hr />
        <div class="form-group row">
          <label for="{{ form.property_type.id }}" class="col-3 col-form-label">{{ form.property_type.label }}</label>
          <div class="col-9">
              {{ form.property_type(type="text", class="form-control") }}
          </div>
        </div>
        <div class="form-group row">
          <label for="{{ form.flip.id }}" class="col-3 col-form-label">{{ form.flip.label }}<span class="required">*</span></label>
          <div class="col-9">
            {% for subfield in form.flip %}
              <div class="radio radio-primary">
                  {{ subfield }}
                  {{ subfield.label }}
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="form-group row">
          <label for="{{ form.rental.id }}" class="col-3 col-form-label">{{ form.rental.label }}<span class="required">*</span></label>
          <div class="col-9">
            {% for subfield in form.rental %}
              <div class="radio radio-primary">
                  {{ subfield }}
                  {{ subfield.label }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
