
  <div class="row-fluid mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Investment Criteria</h5>
        <hr />
        <div class="form-group row">
          <label for="{{ form.property_type.id }}" class="col-3 col-form-label">{{ form.property_type.label }}</label>
          <div class="col-9">
              {{ form.property_type(type="text", class="form-control") }}
          </div>
        </div>
        <div class="form-group row">
          <label for="{{ form.flip.id }}" class="col-3 col-form-label">{{ form.flip.label }}<span class="required">*</span></label>
          <div class="col-9">
            {% for subfield in form.flip %}
              <div class="radio radio-primary">
                  {{ subfield }}
                  {{ subfield.label }}
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="form-group row">
          <label for="{{ form.rental.id }}" class="col-3 col-form-label">{{ form.rental.label }}<span class="required">*</span></label>
          <div class="col-9">
            {% for subfield in form.rental %}
              <div class="radio radio-primary">
                  {{ subfield }}
                  {{ subfield.label }}
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="form-group row">
          <label for="{{ form.property_type.id }}" class="col-3 col-form-label">{{ form.minimum_units.label }}</label>
          <div class="col-9">
              {{ form.minimum_units(type="text", class="form-control") }}
          </div>
        </div>
        <div class="form-group row">
          <label for="{{ form.property_type.id }}" class="col-3 col-form-label">{{ form.maximum_units.label }}</label>
          <div class="col-9">
              {{ form.maximum_units(type="text", class="form-control") }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid mt-3">
    <div class="card">
      <div class="card-body">
        <div class=row>
          <h5 class="card-title">Investing Locations</h5>
        </div>
        <hr />
        <div class="row">
          <table class="table">
            <thead class="thead-default">
              <tr>
                  <th>#</th>
                  <th>Location Type</th>
                  <th>Location Code</th>
              </tr>
            </thead>
            <tbody id="location-table">
              {% for location in form.locations %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>Zip Code</td>
                    <td>{{ location.location_code(class="form-control") }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="row pull-right">
          <button class="btn btn-primary" id="add-location">Add Location</button>
        </div>
      </div>
    </div>
  </div>
